<div class=booking-container>
  <h1 class="text-center my-3">My Bookings</h1>
    <div class="icons-booking">
    <%= link_to root_path do %>
    <i class="fas fa-home"></i>
    <% end %>
    <%= link_to studios_path do %>
    <i class="fas fa-backward"></i>
    <% end %>
    </div>

    <h3>Upcoming classes</h3>
    <% if @upcoming_courses.any? %>
      <% @upcoming_courses.each do |course| %>
        <%= render 'bookings/card', course: course, card_class: 'card-booking-white', past_course: false %>
      <% end %>
    <% else %>
      <div class='card-booking card-booking-white'>
        <p>No upcoming class yet! Make sure you book <%= link_to "one", studios_path %>!</p>
      </div>
    <% end %>

    <h3>Past classes</h3>
    <% if @past_courses.any? %>
      <% @past_courses.each do |course| %>
        <%= render 'bookings/card', course: course, card_class: 'card-booking-gray', past_course: true %>
      <% end %>
    <% else %>
      <div class='card-booking card-booking-white'>
        <p>No past class!</p>
      </div>
    <% end %>
</div>




